# Mock iGOT Karmayogi Platform Server Configuration
PORT=9000

# Target LTI 1.3 Tool Launch Endpoint (Member 3 Gateway / Subsystem)
TOOL_LAUNCH_URL=http://localhost:8000/lti/launch

# Platform OIDC / LTI 1.3 Identity Configuration
PLATFORM_ISSUER=https://igotkarmayogi.gov.in
TOOL_CLIENT_ID=karmmitra_sih26101_tool
PLATFORM_KEY_ID=igot-mock-key-2026

# RSA Key Paths
PLATFORM_PRIVATE_KEY_PATH=certs/platform_private.key
PLATFORM_PUBLIC_KEY_PATH=certs/platform_public.key
